<p style="color: green"><%= notice %></p>

<h1>Movie Info</h1>

<div class="container">
  <%= render @movie %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Edit", edit_movie_path(@movie, params: { sort: cookies[:sort], direction: cookies[:direction] }), class: "btn btn-primary" %>    
    <%= link_to "Back to movies", movies_path(params: { sort: cookies[:sort], direction: cookies[:direction] }), class: "btn btn-primary" %> 
    <%= button_to "Delete movie", @movie, method: :delete, class: "destroy-primary" %>
  </div>
</div>
